[2022-08-16 17:36] kschoche commented on #1425
Hi @chenjinkai! Thanks for filing this issue and in sorry you're having trouble with the upgrade.
As there have been a few breaking changes between the two versions you're working with so I would recommend having a look at the changelog to isolate any changes that you may need to apply.
I think this particular issue may be that you might not have specified the k8sAuthMethodHost in your secondary v

[2022-08-16 20:44] david-yu commented on #1421
Hi @ADustyOldMuffin glad the compat matrix helped. I will go ahead and close.

[2022-08-16 20:44] #1421 closed

[2022-08-17 06:55] chenjinkai commented on #1425
hi @kschoche thanks for reply.  After added k8sAuthMethodHost in secondary values.yaml,  still having the problem in controller & meshgateway

`[ERROR] unable to login: error="Unexpected response code: 403 (rpc error making call: rpc error making call: Permission denied)"`

[2022-08-17 09:13] chenjinkai commented on #1425
@kschoche i added meshgateway and controller binding-rule in master cluster,using command `consul acl binding-rule create`. after restarted the controller and meshgateway  pod, then everything looked like ok.

[2022-08-17 16:29] kschoche commented on #1425
Hi @chenjinkai Thanks for the follow-up, I'm glad you got it working!

I'll go ahead and mark this closed, if you run into additional trouble please feel free to open a new issue!

[2022-08-17 16:29] #1425 closed

[2022-08-17 16:31] kschoche commented on #1410
Hi @TambetP - sorry for the late reply on this!
Unfortunately there is not a clean way to change the ports for the clients, we have a lot of infrastructure in place that is depends on these port values.

[2022-08-17 16:41] kschoche commented on #1397
Hi @philslab-ninja - I do not believe that we have any hooks at the webhook level that would allow you to inject probes, but it looks like you could get away with adding a [readinessProbe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/) to your application which uses the same url that you mentioned in the issue?

It might look something like t

[2022-08-17 17:45] david-yu commented on #1234
Hi @pankaj-dahiya we'll be defaulting to 1 server replica in a future release. Thanks for your patience on this one, and I do agree that it is a better getting started experience for users. This will be a breaking change so will happen in time with our next major Consul release.

[2022-08-18 00:40] jesco39 opened #1433 "ArgoCD support for helm chart"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-08-18 06:22] TambetP commented on #1410
@kschoche thanks for the answer. Are there any plans to make it configurable, since all the ports from the client side are?

While testing different ways how to get Consul Connect up and running in my environment I ran into another problem. Maybe you have some insight into that as well.
I tried getting Consul Connect running with the Consul client running on the Kubernetes host machine, not a cont

[2022-08-18 06:32] ssala7 opened #1434 "Can we have support for EKS with Fargate Node Groups"
Can we have support for EKS with Fargate Node Groups.
Fargate does not support daemon sets for client installation.

[2022-08-18 15:17] lkysow commented on #1376
Hi @shixuyue yes that sound like what could be happening. We'd be happy to review a PR that adds annotation support for the acl cleanup job!

[2022-08-18 15:19] lkysow commented on #1379
Currently I don't think this is supported.

[2022-08-18 15:22] lkysow commented on #1381
Hi @vladimir-shopov, we spent a lot of time looking into this and the problem with the Helm "way" is that it doesn't allow you to update those CRDs when you release a new version and users run `helm upgrade`. The CRDs in `crds/` are only installed once on initial install. This wasn't acceptable to us because we need to update the CRDs as we make changes to Consul.

[2022-08-18 15:28] lkysow commented on #1396
Hi @tdeheurles can you show us your Golang code?

[2022-08-18 16:22] david-yu commented on #1434
Hi @ssala7 we are working towards removing daemonsets for the default deployment of Consul K8s, which is aligned with our next major Consul release. We'll let you know later this year when a beta is available to try out.

[2022-08-18 16:23] david-yu commented on #636
Hi @tjhiggins we are working towards removing host ports and client agents for the default deployment of Consul K8s, which is aligned with our next major Consul release. We'll let you know later this year when a beta is available to try out

[2022-08-18 17:26] david-yu commented on #1433
@jesco39 Would it be possible to create a PR for this enhancement. I am also aware that better ArgoCD support is needed but we have not prioritized looking into this at the moment. We can review a PR if you are able to put one up. Thank you.

[2022-08-18 21:12] jesco39 commented on #1433
@david-yu sure, if the proposed solution of adding `metdata.annotations` to server-acl-init-job is acceptable, I can work on a PR.

[2022-08-18 22:24] david-yu commented on #1410
Hi @TambetP we don't have plans on making this configurable at the moment. We are planning on removing clients altogether from the mesh and instead manage the Envoy proxy via a separate component that retrieves Envoy config from consul server over XDS, which should remove these port requirements. This should happen later this year as part our next major Consul release.

[2022-08-19 02:42] david-yu commented on #1433
Hi @jesco39 that seems acceptable. Essentially any component that is deployed with a Helm hook would also need to have such annotations to accommodate for ArgoCD. Let us know if you are able to make progress and see if upgrades also work based on some modifications.

[2022-08-19 06:25] MinHtetO opened #1435 "consul-connect-inject-init: "Unable to get Agent services, connect: no route to host""
**Background of the issue**
I'm trying to test consul service mesh locally on my mac with docker desktop k8.
I used helm to install consul with consul server instance 1 since I am testing on my laptop ( only one node ). The consul pods are running with no issue. But when I make the deployment, the pods are not ready and have `Init:Error` status issue. When I check the logs of consul-connect-inject

[2022-08-19 12:31] bilalcaliskan opened #1436 "ability to create service definition also for agents"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-08-19 17:17] tdeheurles commented on #1396
Hey, this code, when executed from k8s is failing for me:
[code]

results in:
[code]

[2022-08-19 17:45] lkysow commented on #1396
Are you running this from a regular pod in Kubernetes or one part of the service mesh?

[2022-08-19 18:37] lkysow commented on #1396
I just tried to reproduce this by building a Go binary, `kubectl cp`'ing to a random pod and execing it and I didn't get the same error. What is different with how you're seeing this error?

[2022-08-19 19:25] tdeheurles commented on #1396
Where are you running consul ? in the same namespace as your client pod ?

[2022-08-19 19:25] tdeheurles commented on #1396
I'm running without mesh, "standard" EKS k8s I could say.

[2022-08-19 19:31] david-yu commented on #1435
Hi @MinHtetO does install with the values found here https://learn.hashicorp.com/tutorials/consul/kubernetes-kind?in=consul/kubernetes-deploy#create-a-values-file also produce the same error? I believe perhaps the `bootstrapExpect` may be what is causing the issue here.

[2022-08-19 20:00] lkysow commented on #1396
No, in separate namespaces. Can you paste your deployment/pod definition too?

[2022-08-19 20:17] dagtveit commented on #1145
i am experiancing the same issue when trying to do a fresh install from helm chart with manageSystemACLs: true- deleted pvc and secrets multiple time. i am on 1.24.3  now. not shure what distro it is. but this is a scaleway managed cluster

[2022-08-19 20:38] david-yu commented on #1145
Thanks for the heads up @dagtveit. We are targeting early next at the latest to support K8s 1.24.

[2022-08-19 21:41] david-yu commented on #671
@hamishforbes would you be able to create a PR that would somehow help us support Prometheus Service Monitor Operator?

[2022-08-19 22:10] david-yu commented on #658
@cerebrate or @TJM Are the issues still occurring with the latest Consul 1.12 or 1.13.x releases? If so, do you have a PR that we could review that could perhaps address the sort of issues you are seeing during Consul Server startup?

[2022-08-20 05:18] david-yu opened #1438 "Upcoming breaking changes to Consul on Kubernetes: Enabling of service mesh by default and disabling of node-level client agents from Consul Service Mesh on Kubernetes and Catalog Sync"
By Q4 2022, the Consul on Kubernetes product will be looking to make some changes to the default deployment of Consul of Kubernetes to align with our target use case around zero trust networking with Service Mesh.

The following changes will occur:

1. Deploy Consul Service Mesh by default - `connectInject.enabled` and `controller.enabled` will both be set to `true` by default to deploy the Connec

[2022-08-20 18:05] dagtveit commented on #1145
Early next what. ? 1.24 was just default on the cluster i setup so i can try lower. what is the highest supported version then ?

[2022-08-21 00:11] david-yu commented on #1145
We will be planning on releasing support for 1.24 early next month, you should use 1.23.x and lower until then.

[2022-08-21 02:55] MinHtetO commented on #1435
Hi @david-yu  ,

I removed the bootstrapExpect param and the issues was solved. Thank you.

[2022-08-21 02:55] #1435 closed

[2022-08-21 12:41] cerebrate commented on #658
I am no longer experiencing the issue, but unfortunately I can't tell you if it would otherwise have gone away with the latest releases since, for me, it went away with a hardware upgrade. Sorry I don't have more useful information.

[2022-08-21 23:40] hamishforbes commented on #671
@david-yu I can probably find some time to open a PR for at least part of it this week
Theres 2 parts as I see it

1) Adding `ServiceMonitor` resources to the Helm chart to configure scraping of the various Consul components (i.e. wherever the Helm chart currently adds `prometheus.io/scrape` annotations)

2) Fixing the injected Envoy container to use named ports so users don't have to use deprecat

[2022-08-22 14:53] Mlaczkowski opened #1441 "Orphaned ACL tokens"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-08-23 17:40] #1400 closed

[2022-08-23 18:26] vaibhavgulati commented on #1145
@david-yu I am using eks 1.22 and it is not working there as well

[2022-08-23 21:00] vaibhavgulati commented on #1145
@david-yu we are way too behind in the release of this bug 1.21+ the way kubernetes version is progressing people will loose hope over it.
Can we have a slack channel to actively track this?

[2022-08-23 23:53] david-yu commented on #1145
We have a PR up to address this but it still needs to reviewed, merged and released: https://github.com/hashicorp/consul-k8s/pull/1431. Stay tuned.

[2022-08-24 18:45] david-yu commented on #932
Related issue with Kafka on Consul K8s: https://github.com/hashicorp/consul/issues/14125 also it is recommended to set MaxInboundConnections to a higher number than defaults which should be enabled by Consul 1.13.2 and https://github.com/hashicorp/consul-k8s/pull/1437 when it is released.

[2022-08-25 13:57] t-eckert commented on #1441
Hi @Mlaczkowski,

Thank you for creating this issue. We have observed this behavior before when Kubernetes nodes are not shut down gracefully. As you said in your issue, the problem here stems from the Pod not having time to do a Consul logout, removing the ACLs.

The only workaround for this at the moment would be for you to manage ACLs yourself. However, I would recommend against that.

I'm inte

[2022-08-25 20:18] alt-dima commented on #536
Does anyone use Consul Mesh/Connect in production?
I can't understand how it can be used as is (without patch like this) and avoid errors in application, that needs time to finish jobs?
maybe there is something new/fixed in 1.13.1?

[2022-08-26 09:10] azalenski-branch opened #1455 "Add support for setting service weights via annotations in Kubernetes Catalog Sync"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-08-26 12:00] Mlaczkowski commented on #1441
Thanks for your response. This cluster is our test cluster, we use it to test various new features, configurations, etc. Often the whole cluster is unstable for a longer period of time because of that. We cannot guarantee that it will always work perfectly, as it's somewhat of a playground to test new things. This problem that results in nodes shutting ungracefully is a result of another test and

[2022-08-26 12:44] vaibhavgulati commented on #1145
@kschoche can you please review and merge?

[2022-08-26 15:59] DaleyKD opened #1457 "Upgrade for AKS Cluster: Can't drain because Too Many Requests"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-08-26 16:00] david-yu commented on #635
Thanks for your patience, we're excited to see this feature released next week with https://github.com/hashicorp/consul-k8s/pull/1456 now merged.

[2022-08-26 16:00] #635 closed

[2022-08-26 16:31] DaleyKD commented on #1438
After reading the second bullet point, I assume this will eventually make its way to Azure HCS? And if so, will you update the docs to indicate there will no longer be a need for network peering? What version of Consul will this probably be? 1.13.x? 1.14.x?

[2022-08-26 17:03] david-yu commented on #1438
HI @DaleyKD One of our PMs on Consul Cloud has reached out to you to give you an update on our roadmap, we'll update here as well once we have had a chance to connect.

[2022-08-26 17:17] #1145 closed

[2022-08-27 13:31] vaibhavgulati commented on #1145
@david-yu this seems closed right?

[2022-08-27 19:35] manobi commented on #1344
I have just fall into this issue while testing the new URLrewrite filter on latest consul-k8s helm chart (v0.47.1).

Managed to register routes in primary datacenter, but similar configs does not work in secondary datacenter.

@nathancoleman do you think that if I change one of secondary cluster to Cluster peering instead of WAN federation that would work?

[2022-08-29 08:51] tdeheurles commented on #1396
Hey @lkysow , (sorry for absence, some holidays :-) )

What are you looking for ?
At the moment I was doing debug by starting a manual pod (kubectl run) and just `kubectl cp` the code into it.
Do you see any elements that could interfere with this ?

I'm happy to do a session with you on this if you wish.

[2022-08-29 19:46] rarecrumb opened #1463 "EKS with Calico: agent: [core]grpc: addrConn.createTransport failed to connect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-08-29 21:10] #1344 closed

[2022-08-30 05:37] david-yu commented on #1320
Closing as no response since last follow up.

[2022-08-30 05:37] #1320 closed

[2022-08-30 05:39] david-yu commented on #857
Will close as its related to pausing and unpausing nodes which is infra related than Consul K8s related.

[2022-08-30 05:39] #857 closed

[2022-08-30 05:44] david-yu commented on #440
Closing as there is no intention to support arbitrary service names.

[2022-08-30 05:44] #440 closed

[2022-08-30 05:49] david-yu commented on #665
Closing as we don't plan on implementing this in catalog sync. This is supported in the service mesh use case however.

[2022-08-30 05:49] #665 closed

[2022-08-30 05:55] david-yu commented on #1410
Closing.

[2022-08-30 05:55] #1410 closed

[2022-08-30 05:56] david-yu commented on #1319
Closing as the PR for supporting 1.24 is now merged. We should see a release sometime later towards the end of this week.

[2022-08-30 05:56] #1319 closed

[2022-08-30 06:05] david-yu commented on #140
Closing as we don't intend to support this use case in the short or longer term.

[2022-08-30 06:05] #140 closed

[2022-08-30 06:15] david-yu commented on #122
Closing as we don't intend to support this use case with Catalog Sync. We currently support routing requests to health instances of Endpoints within Consul Service Mesh by leveraging the pod health determined by readiness probes as described here: https://www.consul.io/docs/k8s/connect/health. I realize that may be different than what was described in the original issue however.

[2022-08-30 06:15] #122 closed

[2022-08-30 06:48] david-yu commented on #1068
Will close as we don't intend to support this directly within our Helm chart, although you could possibly find a solution for this on your own by experimenting with the Dockerfile for Consul K8s.

[2022-08-30 06:48] #1068 closed

[2022-08-30 06:57] david-yu commented on #1381
Closing as a réponse was provided.

[2022-08-30 06:57] #1381 closed

[2022-08-30 14:11] howardjohn commented on #122
That doesn't meet the original use case since it requires Consul Service mesh

[2022-08-30 14:49] nathancoleman commented on #1344
@codex70 #1462 will be included in the next release of consul-k8s, slated for this Thursday, September 1

[2022-08-30 15:07] fbuinosquy1985 commented on #924
same here

[2022-08-30 16:03] david-yu commented on #122
@howardjohn We are happy to review any PRs and design if you are open to seeing this through!

[2022-08-30 16:25] david-yu commented on #1301
Closing as no response since last request for followup.

[2022-08-30 16:25] #1301 closed

[2022-08-30 21:05] ishustava opened #1466 "Create-federation-secret job should not run if server.updatePartition is not 0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-02 13:39] nathancoleman commented on #1344
@codex70 @manobi version `0.48.0` is now available for the consul Helm chart and contains the code changes related to this issue ([changelog](https://github.com/hashicorp/consul-k8s/releases/tag/v0.48.0))

[2022-09-02 13:40] manobi commented on #1344
Thank you guys, will test it right now.

[2022-09-02 15:53] manobi commented on #1344
@nathancoleman Consul API gateway controller never becomes ready:
[code]

[2022-09-05 20:19] manobi opened #1479 "API Gateway controller ACL init is broken in v0.48.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-06 10:25] MageshSrinivasulu opened #1480 "Consul Helm Fresh Deployment Fails | When having updatePartition values set | ACL not found: auth method "consul-k8s-component-auth-method" not found""
Using consul helm 0.42.0 getting below error when the consul server starts up, currently using Kubernetes version 1.22.6

Introducing the property **_updatePartition_** under **_server_** is making fresh deployment fail.

**values.yaml override file**

[code]
**Error :**

[code]

[2022-09-06 14:30] nathancoleman commented on #1479
Hi @manobi , looking into this

[2022-09-06 14:42] manobi commented on #1479
@nathancoleman if there is something I can do by editing the Helm release, just tell me and I can try to help you debug.
Thank you.

[2022-09-06 16:30] nathancoleman commented on #1479
@manobi I'm working on validating the change in https://github.com/hashicorp/consul-k8s/pull/1481 which I believe should fix this issue

[2022-09-06 17:13] david-yu commented on #659
Will close this, as it seems this was mainly related to the migration from the old chart from helm.sh charts around 2 years ago. If you do feel this is still needed please open up a PR.

[2022-09-06 17:13] #659 closed

[2022-09-06 18:36] DaleyKD commented on #1457
I'm having this problem again/still. I even tried setting `connectInject.disruptionBudget.maxUnavailable` to `1`, but that doesn't appear to be set in the PDB spec.

I have to delete the PDB to upgrade my AKS cluster.

[2022-09-06 19:40] narendrapatel commented on #1397
Hi @kschoche,

I think the envoy admin port listens on localhost by default(also prefer to keep it that way). So don't think the above readinessProbe would work.
Something like `holdApplicationUntilProxyStarts` would be really helpful.
For us some of our apps are very high in traffic and received 100s of requests some times when the main app container is started and healthy but envoy is yet to sta

[2022-09-06 23:03] david-yu opened #1485 "Open call for paid Consul K8s research participants - 30 minute session"
Greetings,

The Consul on Kubernetes team wants to learn more about how Consul is being used on Kubernetes both in OSS and Enterprise! This is an open call for research participants willing and able to join a 30 minute call to walk us through your Consul service mesh setup and tell us about your experience using Consul. Interested participants should fill out this questionnaire: https://forms.gle/

[2022-09-07 15:38] nathancoleman commented on #1479
@manobi The fix that I linked above allows the acl-init job to complete for the API Gateway controller successfully when following the [Federation Between Kubernetes Clusters](https://www.consul.io/docs/k8s/installation/multi-cluster/kubernetes) guide; however, there are other issues beyond that one which prevent the setup described in https://github.com/hashicorp/consul-api-gateway/issues/300 fro

[2022-09-07 15:50] manobi commented on #1479
@nathancoleman My setup is based on [Federation Between Kubernetes Clusters guide](https://www.consul.io/docs/k8s/installation/multi-cluster/kubernetes).

Having a single API gateway for all clusters is not a requirement for me. I only need the API gateway working in the secondary cluster, routing requests for services running in secondary cluster (unlike https://github.com/hashicorp/consul-api-ga

[2022-09-07 16:16] mr-miles opened #1486 "Documentation - Transparent proxy + terminating gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-09 18:48] nathancoleman commented on #1466
@ishustava if no one is working on this, @20sr20 and I would like to

[2022-09-09 18:50] ishustava commented on #1466
@nathancoleman and @20sr20 Please go ahead! Thank you!

[2022-09-09 18:55] david-yu commented on #1486
Hi @mr-miles Could you provide details on how you are configuring the terminating Gateway via CRD? Btw with the new TProxy enhancements in Terminating Gateway you no longer need to register the service you are trying to dial with Consul and you would need to leverage some new configuration in ServiceDefaults instead: https://www.consul.io/docs/connect/config-entries/service-defaults#terminating-ga

[2022-09-09 21:40] mr-miles commented on #1486
Thanks @david-yu for the quick response  - I was not aware of that service-defaults usage.  And yes, currently I'm registering the destinations as services.

So do the destination addresses have any interaction with the SNI setting on the terminating-gateway resource?  And lastly, will the transparent proxy pick up calls to the given addresses (so my container continues to use "example.com" and it

[2022-09-12 15:47] codex70 commented on #1344
Please could you keep us updated on the progress with this, it looks like it has become more complicated.

Unfortunately running a single datacenter isn't an option for us due to the flat networking requirements.

[2022-09-12 16:43] codex70 commented on #1479
@nathancoleman, whilst having a single API gateway would be very useful for me, it's not a definite requirement. At the moment I cannot get either option to work.

Ideally I'd like to be able to expose each service one one API gateway, but also separate API gateways, depending on the use for the gateway (for example client visibility etc.)

Also, a single datacenter doesn't really work due to the

[2022-09-12 21:26] kschoche commented on #1480
Hi @MageshSrinivasulu - Sorry for the delayed response on this, but thank you for filing the issue.

The `server-acl-init job` is responsible for *creating* the acl auth method, and it is explicitly disabled DURING a rollout, so if this is your first time running consul then the job would not have ever run and your ACLs wont be functional. The assumption is that rollouts and upgrades occur *after*

[2022-09-12 21:26] #1480 closed

[2022-09-14 07:09] puzhengwu opened #1496 "pod has unbound immediate PersistentVolumeClaims"
k8s 1.18.20

kubectl get all -A|grep consul
consul                 pod/consul-client-cg8pv                                            0/1     Running            0          7m58s
consul                 pod/consul-client-glkmr                                            0/1     Running            0          7m58s
consul                 pod/consul-client-tz2dt

[2022-09-14 14:32] kschoche commented on #1496
Hi @puzhengwu  -
Thanks for filing this issue, and I'm sorry you're having trouble with running Consul.
So that we can help you, could you please follow the Bug submission guideline, including steps to reproduce and information about the problem and your environment.
Thanks!

I've copied and pasted it below:

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.git

[2022-09-14 16:04] nathancoleman commented on #1344
Hi @codex70 the insufficient permissions issue described here is resolved by the combination of #1462 (merged + released) and #1481 (in code review).

With the API Gateway controller running in both the primary and the secondary datacenter, there is one other issue preventing you from successfully spinning up a `Gateway` in the second datacenter. That issue is over in the consul-api-gateway repo,

[2022-09-14 16:36] nathancoleman commented on #1479
@codex70 please see https://github.com/hashicorp/consul-k8s/issues/1344#issuecomment-1246987277

[2022-09-14 17:00] mr-miles commented on #1486
@david-yu - now on 1.13 and trying to use those TProxy enhancements to terminating gateway to set up a destination.  Is there a full working example anywhere to look at?  So far I have:

 - Created a service-defaults consul config object, and given it a destination
 - Added the service-defaults name to the terminating gateway definition
 - Added an intention between my service and the destination

[2022-09-15 11:59] adaumann opened #1503 "Gossip Encryption autogenerate fails in Openshift on K8s 1.24 when using PSPs"
If using Openshift with Consul/helm, The

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a si

[2022-09-15 12:02] adaumann commented on #1503
Similar error for TLS-Init:

W0915 14:01:14.535687  450508 warnings.go:70] would violate PodSecurity "restricted:v1.24": allowPrivilegeEscalation != false (container "tls-init" must set securityContext.allowPrivilegeEscalation=false), unrestricted capabilities (container "tls-init" must set securityContext.capabilities.drop=["ALL"]), runAsNonRoot != true (pod or container "tls-init" must set secur

[2022-09-15 12:40] adaumann opened #1504 "Using Consul Helm chart in Openshift 4.11 context does not allow to generate system ACL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-15 12:55] adaumann commented on #1504
If using the injector same issue:

![image](https://user-images.githubusercontent.com/94932945/190409112-fb09dec2-098d-4590-b0c0-7768131fb79b.png)

[2022-09-16 00:30] #1479 closed

[2022-09-16 08:45] adaumann opened #1510 "Consul inject side car fails for rabbitmq server in Openshift 4.11"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-16 21:55] david-yu commented on #1510
Hi @adaumann thanks for filing this issue. It sounds like somehow RabbitMQ requires to be run in a privileged mode and maybe that's why you are not able to Consul K8s working on K8s? I also am curious does the RabbitMQ cluster-server run as a K8s service when using the Rabbit MQ Operator. I don't we're familiar enough with RabbitMQ to get into the details but from a Consul K8s perspective we do re

[2022-09-16 21:55] david-yu commented on #1504
Thanks we will take a look into this issue!

[2022-09-16 21:56] david-yu commented on #1503
Thanks appreciate the heads up, it sounds like maybe these issues are isolated to OpenShift 4.11 (K8s 1.24)?

[2022-09-19 07:15] codex70 opened #1515 "When running filebeat as a headless service, all Consul pods break leading to all systems in the service mesh failing."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-19 12:27] bradydean commented on #932
I think I'm running into the same issue with services deployed by Nomad. I can't get a simple tcp echo server to work.

https://github.com/envoyproxy/envoy/issues/23155

[2022-09-19 14:06] dnlopes opened #1516 "Servers go through rolling-deploy for config changes on Consul servers"
Hello,

I have been trying out multiple deployment modes for Consul. I have sucessfully deployed a multi-DC via WAN federation using autoscaling groups in AWS, and now I’m moving to try out deploying on top of K8s. The experience was pretty smooth with ASG; in the end I got a pretty stable setup where I could add/remove nodes at will and the datacenters reacted smoothly (e.g, consensus was impecca

[2022-09-19 19:00] kschoche commented on #1504
Hi @adaumann - Based on the error message in the last picture it appears as if your helm chart is out of date and behind the `consul-k8s` binary, can you confirm that you're also using the helm chart `0.48.0` ?

[2022-09-19 21:28] kschoche commented on #1515
Hi @codex70 - Thanks for filing this issue and i'm sorry that you're having trouble deploying.
Would you be able to provide a bit more information about your configuration such as the exact `values.yaml` files you're using for both Consul and ECK? I was able to roughly follow your steps and it appears that everything comes online without Consul crashing. Although I suspect the lack of a Kubernetes

[2022-09-19 23:15] kschoche commented on #1503
I was able to reproduce this using Pod Security Standards on Kind.
@adaumann is this enabled by default in OpenShift 4.11 or something you've set manually on your cluster?

[code]

[2022-09-20 04:03] codex70 commented on #1515
Hi @kschoche,

Thanks for getting back to me so quickly.

The configuration for Elastic Operator is just the podAnnotations as you have above, the rest is default configuration. Elasticsearch itself is deployed in a separate cluster and the plan is to use `Filebeat` to connect over the service mesh.

There is a service account:
[code]

And the headless service:
[code]
Consul is slightly more compl

[2022-09-20 05:45] tdeheurles commented on #1396
Any news on this ?
Which versions (k8s/consul) did you use to have it working fine @lkysow please ?

[2022-09-20 11:11] adaumann commented on #1504
Yes I'm using 0.48.0 but with the redhat UBI image. The only version I hadd success is 0.43, but only to start an unsecure consul.  (No Acl, no TSL, no gossip encryption). See other issue.

[2022-09-20 19:21] david-yu commented on #1504
@adaumann How are you deploying OpenShift 4.11 right now? Do you have a link to docs on how to get OpenShift 4.11 up and running quickly?

[2022-09-21 05:54] adaumann commented on #1504
Hello, I'm running OpenShift 4.11 as local single-node Kubernetes Cluster in Windows HyperV. In order to run it locally you can use the CRC version for developing. Just register in RedHat and look for "local" and download the installer. Currently there is no storage class defined by default, but you can register a "hostpath" local folder.

install.ps1:

[code]

crc-hostpath.yaml:

``

#$ Adds stor

[2022-09-21 06:17] adaumann commented on #1503
Hello,
Openshift I think abstracts namespaces by "projects". The namespaces are hidden mostly. A project is a security enhanced namespace in my view, as example:

[code]

[2022-09-21 14:42] dnlopes commented on #1516
In order to address issue

I will try to add the `leave_on_terminate: true` setting in the `server.extraConfig`, to see if this helps. I will report back once I have tested this.

[2022-09-21 16:08] dnlopes commented on #1516
So, the `leave_on_terminate: true` setting seems to help when refreshing pods. One less issue to fix I guess.

[2022-09-22 07:12] darkn3rd opened #1523 "Injection fails with StatefulSets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-22 17:28] david-yu commented on #1523
Hi @darkn3rd Thanks for trying out Consul Service Mesh, I also responded to your query on discuss related to the naming of Consul Service Mesh. I'm interested in see how your article writeup goes. We did introduce a feature in the past where its now possible to select a single service to register in the case where multiple services select a set of pods.  See: https://www.consul.io/docs/k8s/annotat

[2022-09-22 22:29] darkn3rd commented on #1523
Hi @david-yu.  For context, there are two use cases:

1. Communicate to outside via mesh: dgraph-alpha: 8080(http), 9080(grpc) and dgraph-zero: 6080(http), 5080(grpc)
2. Communicate both outside and internally, with these extra ports `dgraph-alpha`: 7080(grpc), `dgraph-zero`: 5080(grpc)

I have have done first use case on Linkerd and NGINX service mesh, but not the second one due to bugs with Stat

[2022-09-25 00:59] darkn3rd opened #1528 "Injection fails and freezes on pure clients w/o service specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-09-26 10:45] andriktr opened #1529 "Helm chart wrong value in _helpers.tpl for consul.pdb.connectInject.maxUnavailable"
Hi,
Noticed that section in `_helpers.tpl` fiekl contains contains wrong value in `consul.pdb.connectInject.maxUnavailable`
[code]
As result if we set `connectInject.disruptionBudget.maxUnavailable` in `values.yaml` this has no effect.

[2022-09-26 14:17] kschoche commented on #1529
Hi @andriktr - Thank you for bringing this to our attention and sorry for the inconvenience! I've pushed the fix and it should be in our next release!
Cheers,
~Kyle

[2022-09-26 14:56] #1529 closed

[2022-09-26 15:29] erdanzhang opened #1531 "Commas in Service tags cannot be escaped"
### Community Note
Per document:
https://www.consul.io/docs/k8s/annotations-and-labels

<img width="1049" alt="image" src="https://user-images.githubusercontent.com/84437068/192314153-a99c72f8-2d78-4515-a257-61de95f63ae3.png">

Commas in service tags should be able to be escaped by "\". However, when using the K8S deploy template and enabling service mesh (sidecar injection)

[code]

The service t

[2022-09-26 22:31] #1466 closed

[2022-09-27 05:11] david-yu commented on #1457
Hi @DaleyKD this is likely addressed by https://github.com/hashicorp/consul-k8s/pull/1530/files. Will close this issue, and we should have that addressed in 0.49.0 which should happen sometime later this week or early next week.

[2022-09-27 05:11] #1457 closed

[2022-09-27 13:26] alt-dima commented on #536
@dschaaff Thank you for the Dockerfile!
I use it with a combination of custom-image and "dynamic entrypoint" (https://github.com/hashicorp/consul-k8s/issues/1397#issuecomment-1259492742)

[2022-09-27 15:06] #1531 closed

[2022-09-27 15:07] kschoche commented on #1531
Hi @erdanzhang - Thanks for raising this issue to our attention, I've merged the fix into our main branch and it should be part of our upcoming release.
Cheers.
~Kyle

[2022-09-27 22:01] darkn3rd commented on #1528
@kschoche I never had an issue with other service meshes, and have implemented this successfully in Istio, Linkerd, and NGINX Service Mesh without any issues.  Having a service sit frozen for days without feedback to the users I hope is not a desired experience for users.  The very least this should be documented more clearly.

[2022-09-28 00:07] david-yu commented on #1438
Hi @alt-dima This is on our roadmap for Consul 1.15, the release after the large upcoming 1.14 release happening in Q4 this year.

[2022-09-28 01:11] erdanzhang commented on #1531
@kschoche Thanks for the quick respond and nice fix!!! Look forward to the next release and Consul onboarding!!!

[2022-09-28 07:19] darkn3rd commented on #1528
@kschoche Following your suggestion, I created a small python flask server, and tested it. It runs fine locally, as a docker container, and when deployed without CSM annotations.  When I deploy it with injection, it freezes in `pending` state.

This is my manifest:

[code]

[2022-09-28 09:58] darkn3rd commented on #1528
Closing issue as Service is required.

[2022-09-28 09:58] #1528 closed

[2022-09-28 10:22] darkn3rd commented on #1516
As consul-server is a StatefulSet, which uses external volumes (like AWS EBS for example), should a hardware fail, where a K8S node and the pods running on it are lost, the pods running on that node will be redeployed with their state intact and the volumes re-attached.  I would imagine that should the pod + volume get totally destroyed or corrupted, there would be a process to purge that node, so

[2022-09-28 19:41] kschoche commented on #1397
Hi @alt-dima -

I just took a look at this again to see if there was an easier way to utilize the Envoy admin API to set a readinessProbe for the service directly, unfortunately its a bit complicated to setup while preserving any readinessProbes that were set by the user since Kubernetes only supports a single readinessProbe per container.
However, we do intend to support this in an upcoming relea

[2022-09-28 21:28] kschoche commented on #1436
Hi @bilalcaliskan  -
Thanks for filing this issue and raising it to our attention and sorry for the late reply.

We are currently working on a [large change to the architecture ](https://github.com/hashicorp/consul-k8s/issues/1438
) of `consul-k8s` which will remove the client agents altogether. I believe that your feature request would be entirely covered by our changes that are landing soon, nam

[2022-09-28 22:18] hamishforbes commented on #1438
Does disabling agent nodes not have load/performance implications?

I thought one of the main functions of the local consul agent is to aggregate connections/requests and cache data from the server nodes to reduce load?

Will it possible to configure the sidecar to continue fetching from a local agent instead?

[2022-09-30 23:14] david-yu commented on #1510
I believe the other issue you will likely run into is that RabbitMQ servers currently require mluit-port services: https://www.rabbitmq.com/clustering.html#ports. Please see https://www.rabbitmq.com/clustering.html#ports about how to allow communication between services with multiple ports exposed.

[2022-10-01 05:01] darkn3rd opened #1575 "Failed Connectivity to Service pointing to service w mixed gRPC port and HTTP ports"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-01 23:16] jawnsy opened #1576 "Automated deregistration for dead nodes from catalog"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-02 03:31] darkn3rd commented on #1575
The issue arises when a service supports 2+ ports for different types of traffic.  I was partially able to reproduce this by creating small greeter_server.py based on grpc's getting started guide, where I had grpc on 9080 and http on 8080.  I couldn't communicate through http, but I could communicate through grpc.

[2022-10-02 04:02] jawnsy commented on #1576
Possibly a duplicate of https://github.com/hashicorp/consul/issues/9939

[2022-10-03 08:46] ZiaUrRehman-GBI opened #1577 "When consul-k8s chart will support k8s v.1.25?"
#### Question
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25
As PodSecurityPolicy is removed in v.1.25 and in your helm chart too many place this resource is added
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25
when you have plan to remove this from helm chart and provide support for k8s v.1.25 version?

[2022-10-03 16:56] david-yu commented on #1575
Hi @darkn3rd sorry for the delay in responding, but yes I suspected that the main issue is that dgraph needs to be able to communicate over multiple ports. We have a way to leverage additional Envoy proxies to expose multiple ports as shown here: https://www.consul.io/docs/k8s/connect#kubernetes-pods-with-multiple-ports, however there are still some limitations that we need to address. The issue t

[2022-10-03 18:14] david-yu commented on #1577
@ZiaUrRehman-GBI I'm curious do you plan on running Consul K8s on just 1.25 or will you be deploying on other version as well? I ask because we'll likely need to think about supporting 1.24 and below also using PSA only or providing support for both PSA and PSP on 1.24 and below. If you do plan on running Consul K8s on 1.24 and below I'm curious if PSA or PSPs will be used.

[2022-10-04 00:06] ZiaUrRehman-GBI commented on #1577
I believe support should be added for both using if with capabilities.Api.has feature of Helm.

[2022-10-04 09:35] darkn3rd commented on #1575
@david-yu I followed the instructions, but the injection fails (manifest below). Consul attempts to add these containers:

* copy-consul-bin
* consul-connect-inject-init-http
* consul-connect-inject-init-grpc
* envoy-sidecar-http
* envoy-sidecar-grpc

[code]

[2022-10-04 10:09] darkn3rd opened #1584 "consul-connect-injector panic with multiport config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-04 17:36] t-eckert commented on #1584
Thank you for opening this issue. The problem originates in the `manifest.yaml`. The annotation for multiport should map the name of the services to the matching port on the Pod.

To get your setup working, change this annotation
[code]

to be
[code]

In the tutorial you linked, this is covered by the paragraph:

If you feel this can be made clearer, I am open to suggestions.

Best,
Thomas

[2022-10-04 17:40] t-eckert commented on #1584
I will close this for now. Let me know if you have thoughts around that wording in the tutorial.

[2022-10-04 17:40] #1584 closed

[2022-10-04 18:14] darkn3rd commented on #1584
@t-eckert

* the injector should not crash, but emit an error.
* annotations in some part of the doc use booleans, while other part uses string of `"true"` or `"false"`.
* somehow missed the step, as I am using one container for both ports, rather than two containers.  Hindsight, seems obvious now.
* confused about annotation on client if this used.
[code]

[2022-10-04 18:23] t-eckert commented on #1575
Hi, I was able to help you out with this problem in the other issue you opened.

[2022-10-04 18:44] #1575 closed

[2022-10-04 18:46] t-eckert commented on #1576
Hi @jawnsy, thank you for opening your first issue on the Consul on Kubernetes repo. Thank you also for the detail in the issue. I think this is a very sensible feature request.

Because the solution will likely be implemented at a Consul level and not a Consul on Kubernetes level, I am going to transfer the issue to the Consul repository so they can have a look at it.

[2022-10-04 19:12] t-eckert commented on #1584
I will note this feedback. I added it to the agenda for our next engineering sync.

I can change this to be more consistent. When they get read into the control plane, we understand either format.

No problem, this is a complicated system and it is easy to make mistakes.

That annotation is better covered [here](https://www.consul.io/docs/k8s/annotations-and-labels#consul-hashicorp-com-connect-ser

[2022-10-04 20:25] t-eckert commented on #1396
This is an interesting problem. I gave it a shot today and couldn't replicate the issue. Can you try it with Consul on Kubernetes `0.49.0` and let me know if you still see the issue? I'd also be interested in what you are passing to the run command as your testing pod container. I just used the Golang Docker image and it worked fine.

[2022-10-05 03:18] raphlcx opened #1588 "Does Consul configures Envoy with request buffering?"
### Question

Good day HashiCorp.

I would like to seek clarification regarding how Envoy handles request buffering in Consul service mesh.

Our case is that, we are currently running a few load tests by setting up:
1. A stressor script written using k6
2. A Spring Application that serves as the system-under-tests

The stressor script will connect to the Spring Application via 3 methods:
1. Using

[2022-10-05 06:39] darkn3rd commented on #1584
Does multi-port require two containers?  In my server, I have two threads, one listening to 9080 (gRPC) and one listening to HTTP (8080), so one service in one container responds to both ports.  But for whatever reason, I can only communicate through HTTP (8080).

For the client, I used:
[code]

I managed to get traffic working through HTTP, but when I try gRPC, I am not able to connect:
[code]

T

[2022-10-05 06:53] darkn3rd commented on #1584
Thank you, I got this working.

[2022-10-05 16:58] darkn3rd commented on #1584
@t-eckert Quick question.  Are service accounts required for multi-port?

[2022-10-05 18:29] david-yu commented on #1588
Hi @raphlcx I believe you might need to set the `max_inbound_connections` config in ServiceDefaults to set a limit for the number of inbound connections to a service instance. This was introduced in Consul 1.13.0 so in order to leverage that feature, that would require an upgrade for you: https://www.consul.io/docs/connect/config-entries/service-defaults#maxinboundconnections.

The default Envoy i

[2022-10-05 18:36] david-yu commented on #1523
Closing as it seems like this is a duplicate of this issue: https://github.com/hashicorp/consul-k8s/issues/1584#issuecomment-1268023656

[2022-10-05 18:36] #1523 closed

[2022-10-06 02:59] raphlcx commented on #1588
I see, thanks for highlighting the new feature in Consul 1.13.0.

Also, our load test only executes a max of 400 concurrent connections at a single time, which is below the described limit of 1024. Are there any other aspects in Consul / Envoy where it might contribute to the issue?

[2022-10-06 14:48] darkn3rd opened #1594 "injection stack traces when deploying multi-port application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-06 20:51] #1594 closed

[2022-10-06 22:30] darkn3rd commented on #1594
@t-eckert The fact that I got feedback in the logs and such was great, that helped me understand the issue at hand.  Thanks for the doc link.

You know when metrics will be supported with multi-port? or will multi-port get greater support later?

[2022-10-07 01:09] david-yu commented on #1234
Closing as is addressed by https://github.com/hashicorp/consul-k8s/pull/1551

[2022-10-07 01:09] #1234 closed

[2022-10-07 01:10] david-yu commented on #1434
Closing since we now have support for EKS Fargate with Consul K8s 1.0.0-Beta, our GA is scheduled for next month.

[2022-10-07 01:10] #1434 closed

[2022-10-07 01:11] david-yu commented on #636
Closing since we now have support for GKE Autopilot with Consul K8s 1.0.0-Beta, our GA is scheduled for next month.

[2022-10-07 01:11] #636 closed

[2022-10-07 18:01] david-yu commented on #1485
Closing as UX Study call is now closed. Please use our survey https://hashicorp.sjc1.qualtrics.com/jfe/form/SV_4MANbw1BUku7YhL if you'd like to schedule a session with us for feedback.

[2022-10-07 18:01] #1485 closed

[2022-10-07 18:04] david-yu commented on #1588
@raphlcx It sounds like perhaps you need to set the limits to 200 on the caller side: https://www.consul.io/docs/connect/config-entries/service-defaults#maxconnections. The additional 200 requests should be set to pending as Envoy has this capability to set the number of requests that will be queued.

[2022-10-08 08:06] satya256 opened #1604 "Consul CNI is not mutating the IP table rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-09 06:55] darkn3rd opened #1605 "Install with ACLs enabled fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-09 07:04] darkn3rd commented on #1577
There is a way to detect the version of the API and template the correct manifests in Helm, but care is needed not to break debugging and dry-runs.

[2022-10-09 08:31] darkn3rd commented on #1605
I found the issue seems to be that `secrets/consul-bootstrap-acl-token` left from previous installation caused the issue.  When I was testing out other potential issues, new clusters were not recreating the acl-token.  A `helm delete` will not clean up the tokens.  There were several secrets left behind, so I just deleted the namespace, and tried this again, and it seems to be working.

[2022-10-09 08:45] #1605 closed

[2022-10-09 21:37] darkn3rd opened #1606 "Connections bypass ACL security in multi-port"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-11 02:50] raphlcx commented on #1588
Thanks @david-yu for the resources on fine-tuning HTTP connections.

We will take this to our internal teams and see how it applies on our setup some time later. We might not get around it that soon, so I'll be closing this issue first and re-opening when the time is right.

Appreciate the help!

[2022-10-11 02:50] #1588 closed

[2022-10-11 06:36] satya256 commented on #1604
It's my bad (lack of knowledge on container network namespaces), I have followed the link → https://github.com/istio/istio/wiki/Understanding-IPTables-snapshot

And I can see all the Iptables rules are present as expected.

[2022-10-11 06:36] #1604 closed

[2022-10-11 17:07] ishustava commented on #1606
Hey @darkn3rd

This is a known limitation with the multi-port workaround. Specifically that transparent proxy is not supported (https://developer.hashicorp.com/consul/docs/k8s/connect#caveats-for-multi-port-pods). Transparent proxy is the feature that ensures that all traffic goes to the proxy so that you don't bypass the service mesh.

One way to ensure this without transparent proxy is to have y

[2022-10-11 17:18] darkn3rd commented on #1606
How then can an ingress integrated to Consul, if it only listens on localhost?  Are there solutions where the ingress could communicate through the service mesh?

[2022-10-11 18:54] ishustava commented on #1606
Yeah, we have some docs on that here: https://developer.hashicorp.com/consul/docs/k8s/connect/ingress-controllers. These docs are for when you are using transparent proxy, but in the case when tproxy is disabled, you just wouldn't need that additional configuration. We haven't tested it with multi-port though.

[2022-10-11 19:11] ishustava commented on #1594
We don't have anything definitive yet, but it's definitely something we're going to look into soon!

[2022-10-11 20:17] darkn3rd commented on #1606
Conceptually, unless I am misunderstanding how this would work, I am not sure how it can work without transparent proxy, because the ingress automatically uses the internal service endpoint, which will not be secured.  Somehow, there would need some advanced hacks to route traffic to localhost, instead of the normal service path, e.g. `dgraph-alpha.dgraph.svc.cluster.local`.

[2022-10-11 20:53] ishustava commented on #1606
Yeah you're right! Ingress controllers would not work without tproxy. Sorry I was wrong in my above response.

In that case, a Consul API gateway would be a better choice for ingress instead of the ingress controllers because it can route to consul services.

[2022-10-11 22:08] ishustava commented on #1510
Hey @adaumann

Could you share the logs of the connect-inject deployment like the logs of the init container suggest?

[2022-10-12 08:50] darkn3rd commented on #1606
@ishustava I looked at Consul API gateway as a possibility, but I have to pass for the moment because (1) it does not support gRPC, and (2) the current documentation is in Terraform/Kustomize and requires installing EKS; it would take some time to distill the material and extract I need.

The root cause of all these issues, is that out of the box, Consul Service Mesh should support K8S API, that i

[2022-10-12 09:22] yalctay93 opened #1612 "consul server rollout restart causes downtime"
#### Question
Hello, we are running consul server in version 1.13.2 as a `StatefulSet` in our on prem k8s cluster with the version v1.23.x.
We have noticed a weird behaviour when executing `kubectl rollout restart statefulset consul-server`.
We would expect the `StatefulSet` to restart the pods one by one however, it looks like the pods are failing due to leader election and thus it causes a downt

[2022-10-12 16:21] mikemorris commented on #1606
If you select the "Local" tab instead of "HashiCorp Cloud Platform (HCP)" in https://learn.hashicorp.com/tutorials/consul/kubernetes-api-gateway, the instructions are written for [Kind](https://kind.sigs.k8s.io/) but should be applicable to any generic Kubernetes environment - no Terraform or EKS needed, and the built-in `kubectl apply --kustomize` is only used for initially installing the CRDs.

[2022-10-14 22:24] darkn3rd commented on #1606
Thank you, the local that's lot easier to synthesize and derive a solution, I will try this some time in the future when I get a chance.

Back to the original issue, it would be nice to have full functional support of multi-port, which would be parity with the Kubernetes service API that supports a list of ports, where Consul service registration, if I understand this correctly, only supports one

[2022-10-14 22:38] darkn3rd commented on #1612
I think I have seen this behavior before, but I have not troubleshooted this more deeply.  I wonder if this is related to https://discuss.hashicorp.com/t/unstable-deployment-on-k8s-with-helm-chart/44411

[2022-10-14 22:40] darkn3rd commented on #1516
https://github.com/hashicorp/consul-k8s/issues/1612

[2022-10-14 22:43] darkn3rd commented on #1515
From what I understand, a service with an advertised port is required for consul connect injector to configure envoy proxy and register the service in consul.

* https://developer.hashicorp.com/consul/docs/k8s/connect#accepting-inbound-connections

[2022-10-14 22:49] darkn3rd commented on #1510
RabbitMQ uses multiple ports, so likely the source of the problem is a single service resource that is listening on multiple ports.  One way you determine this is is `kubectl get svc --namespace rabbitmq` (change the namespace if rabbitmq is deployed to another namespace).

[2022-10-14 22:58] darkn3rd commented on #1504
Is this the secret you can get with `kubectl get --namespace consul secrets/consul-bootstrap-acl-token --template={{.data.token}}`?
One thing I hit is that if you ever deployed consul service mesh, and didn't delete the namespace, the previous token will be left behind, but this would cause the cluster not to start. I had to delete the namespace to delete any secrets/configs left behind between di

[2022-10-14 23:02] darkn3rd commented on #1463
Does disabling grpc block grpc? I noticed the error log had `agent: [core]grpc` and that `client.grpc=false` was set.

[2022-10-14 23:02] ishustava commented on #1606
Thanks so much for this feedback @darkn3rd !!

This is definitely something we're looking to improve. I don't have any specifics yet, but we're looking into having better support for multi-port in the near future, so I hope we'll have something that works better soon!

[2022-10-15 04:33] codex70 commented on #1515
OK, so how can a service that doesn't have an advertised port communicate in the service mesh. There are plenty of reasons why a service may not need to be open to communication, but would need to connect with a service in the mesh (any type of job like process). The only way I have been able to get it to work is to create an ingress, which seems to defeat the point.

[2022-10-15 04:52] takeda opened #1622 "Unable to upgrade servers first when going through version 0.40.0 of helm chart"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-15 23:10] darkn3rd commented on #1515
@codex70 This is exactly my thoughts as well, because there are such a thing as a pure client scenario.  Regardless, this is a hard requirement by Consul.  The good news is that, the service does not actually need to be listening on the port, at least that is my understanding from the [example](https://developer.hashicorp.com/consul/docs/k8s/connect#connecting-to-connect-enabled-services) in the d

[2022-10-18 07:09] codex70 commented on #1515
Thats a really good idea and I will give that a try some time over the next couple of days and report back. The big issue I have is that it destroys the entire cluster if it doesn't work, so will probably have to create a new cluster where I can test things.

[2022-10-18 11:39] yalctay93 commented on #1612
Perfect - that has solved the issue. Thank you alot!

[2022-10-18 11:39] #1612 closed

[2022-10-20 10:37] Dentrax opened #1637 "OpenTelemetry Tracing Support of sync-catalog"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-21 07:05] Din-He commented on #1463
我也遇到相同问题

[2022-10-21 07:27] Din-He opened #1640 "token with AccessorID '00000000-0000-0000-0000-000000000002' lacks permission 'service:write' on "demo20221017""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-10-21 15:46] erdanzhang opened #1641 "crd-servicedefaults misses LocalConnectTimeoutMs and LocalRequestTimeoutMs"
Similar to previous issue, https://github.com/hashicorp/consul-k8s/issues/1400
Consul CRD serviceDefauts seems miss configuration `LocalConnectTimeoutMs` `LocalRequestTimeoutMs` which is available to use on `hcl` type config.

Feature Description
Consul service-defaults config entry supports setting LocalConnectTimeoutMs  and LocalRequestTimeoutMs
This feature is supported in consul agent binary a

[2022-10-24 11:00] Din-He commented on #1640
问题解决了。
整个过程描述：
我部署consul的服务器ping不通我启动springboot程序的电脑，我电脑可以ping通consul所在服务器。
我在springboot程序bootstrap.yml开启了consul健康检查（consul-server 请求我的电脑，自然是请求不通），所以在consul ui页面上看到我的服务是红叉的状态，然后我在网上搜索为什么consul服务会有红叉？看到一个解决办法是说加上heartbeat.enabled: true 配置。然后我的服务就报上面的错了。首先heartbeat.enabled: true这段配置的意思是说开启心跳检测，就是我主动向consul-server报告我的服务状态，我猜测应该是这过程中用到了000002这个token，然而consul-server可能需要serveice:write权限，这样就报错了。。。。还是有待深入

[2022-10-24 11:01] #1640 closed

[2022-10-24 11:51] sergey-kudriavtsev commented on #1344
Hi all! @nathancoleman @krarey
Thanks for the corrections, when will the rez be?
It's just that the latest version of Charts: consul (0.49.0) is already with changes, but they are still not in the binary.
one.
1. **method name**
[code]
2. **argument -primary-datacente**
[code]

[2022-10-26 08:50] codex70 commented on #1515
@darkn3rd I've tried again making sure the service shows as listening on port 80:
[code]
But unfortunately it still completely destroys the entire cluster. I've updated to latest versions of consul etc. so it appears that this is still very much an issue.

[2022-10-26 08:51] codex70 commented on #1515
@kschoche it would be good to know if anyone at Consul is able to replicate the problem

[2022-10-26 15:53] ncouse commented on #1438
Regarding point 2, it  great to remove the need for `hostPort`, and this is often not permitted on clusters.
However, this solution only seems to apply when using the service mesh, which makes some sense as you will already have a side car for Envoy.

For deployments that do not use the service mesh, will there be an architecture change to how the client agents are deployed, and their requirement

[2022-10-26 17:33] ishustava commented on #1438
Hi @ncouse

Removing client agents will also affect catalog sync. Clients will be disabled by default, and even if enabled, none of the consul-k8s components will use them. You can still deploy them (with hostPorts) if you wish to use them.

[2022-10-26 17:38] hamishforbes commented on #1438
Disabling agent's will also break Consul DNS, which is currently a k8s service pointing at all the agent pods.
Is there a new design for this too or will that just require agents enabling again?

[2022-10-26 17:42] ncouse commented on #1438
So if I am using "traditional" Consul, i.e. only for Service Discovery, how does that work in the new architecture?
I am not using catalog-sync or service mesh, or DNS. I am just registering services with local client agents (since that is the current architecture), obtaining host ip via downward API.
However I do want a solution that removes the need for hostPort.

[2022-10-26 17:42] ishustava commented on #1438
Hey @hamishforbes

Consul DNS points to both server and client agents, so if you're deploying servers, that will continue to work. If you have a cluster without servers and need consul DNS but you're not using service mesh, then you could still configure your kube DNS to point to consul servers that you've deployed somewhere else like we say in our docs (https://developer.hashicorp.com/consul/docs

[2022-10-26 17:48] ishustava commented on #1438
@ncouse

I am not using catalog-sync or service mesh, or DNS. I am just registering services with local client agents (since that is the current architecture), obtaining host ip via downward API.
However I do want a solution that removes the need for hostPort.

To use the new architecture, you'd need to register services directly with Consul's catalog. For that, it's a bit easier to use catalog sy

[2022-10-27 06:31] Adharsh-Muraleedharan commented on #1319
@david-yu - we are using EKS 1.22 is there any chance consul will work in it ?

[2022-10-28 10:35] bilalcaliskan commented on #1436
thanks for your detailed explanation @kschoche, i am closing the issue now. Cheers!

[2022-10-28 10:35] #1436 closed

[2022-10-30 13:06] davidcsi opened #1660 "consul servers won't come up on fresh eks"
### Overview of the Issue

Consul servers won't start on freshly created EKS.

### Reproduction Steps
- create an EKS cluster
- helm repo add hashicorp https://helm.releases.hashicorp.com
- helm install consul hashicorp/consul
-

clients come up but servers don't

attaching some screenshots

<img width="1508" alt="Screen Shot 2022-10-30 at 2 03 21 PM" src="https://user-images.githubusercontent.com

[2022-10-30 16:48] davidcsi commented on #1660
More info:

0/6 nodes are available: 1 node(s) didn't match pod anti-affinity rules, 5 node(s) didn't find available persistent volumes to bind.

[2022-10-31 10:52] davidcsi commented on #1660
Eks version is 1.23, but I also tried with 1.20 to same result

[2022-10-31 20:30] davidcsi commented on #1660
any help here guys? Thanks!

[2022-10-31 21:24] jmurret commented on #1660
hi @davidcsi, can you run `kubectl describe statefulset consul-server -n consul` and attach the output?  the fact that you are getting `0/0` pods at all instead of `0/1` under the ready column will probably tell us something.  This will usually indicate something where a node/infrastructure requirement is not ready and therefore the pods cannot even be scheduled.

[2022-11-01 12:54] davidcsi commented on #1660
@jmurret thasnk for your reply... i normally:

- create the cluster
- add the service account:
   `kubectl apply -f service-account.yaml`
- install dashboards with:
[code]
the admin yaml file is pretty simple:
[code]
- then add consul

Following your suggestion i didn't add any service account, or dashboard. And surprising enough, the servers came up! There must be something in the adding of the a

[2022-11-02 16:36] rarecrumb commented on #1463
Followed this guide to solve: https://discuss.hashicorp.com/t/unstable-deployment-on-k8s-with-helm-chart/44411

[2022-11-02 16:36] #1463 closed

[2022-11-03 08:03] david-yu commented on #577
Closing as this is addressed via https://github.com/hashicorp/consul-k8s/pull/1659 which allows sync catalog to work without clients

[2022-11-03 08:03] #577 closed

[2022-11-03 08:14] david-yu commented on #819
Closing as https://github.com/hashicorp/consul-k8s/pull/1659 should address this by leveraging a new component to discover servers and `externalServers.hosts` will accept a DNS name starting with Consul K8s 1.0.

[2022-11-03 08:14] #819 closed

[2022-11-03 11:27] webmutation commented on #819
Hi @david-yu is there some place we can read what will change for 1.0 ? I understand from the come comments that there are some breaking changes expected that could perhaps help solve some of the issues we faced with the health checks and externalServers is being used.

We are currently using a custom component to overcome this and a few other issues we encountered with consul-k8s, perhaps we can

[2022-11-03 16:34] david-yu commented on #819
@webmutation There should be release notes for 1.0 on consul.io which will happen in the latter half of this month roughly. You can also see what's in the changelog to get a sneak peek. As far as health check support for catalog sync that is not supported at the moment. Do you have a PR that can show us how you enabled them?

[2022-11-04 17:25] davidcsi commented on #1660
Hello, i'm running again into the same issue, the output of the command is:

[code]

[2022-11-04 18:13] davidcsi commented on #1660
Events i'm seeing:

[code]

[2022-11-04 23:17] davidcsi commented on #1660
I keep seeing this:

[code]
No mater what i do:

[code]

[2022-11-07 04:06] dcarbone commented on #1149
Where is this documented? `930x` ports are nowhere to be found in the [required ports](https://developer.hashicorp.com/consul/docs/install/ports) section of the docs, searching for `9301` yields no results in either documentation or tutorials, and googling for `9301` mostly brings up little of functional use.  A pointer to these docs would be very helpful.

[2022-11-07 06:00] darkn3rd commented on #1594
Pinging to keep this alive.  Let me know if anything will be added to the roadmap

[2022-11-07 16:37] #1641 closed

[2022-11-08 19:44] chrisjohnson opened #1687 "Undocumented breaking change from 0.38.0 -> 0.44.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-11-08 20:32] chrisjohnson commented on #1687
https://github.com/hashicorp/consul-k8s/blob/v0.44.0/CHANGELOG.md#0420-april-04-2022

Looks like I'm just blind :)

[2022-11-08 20:32] #1687 closed

[2022-11-09 01:08] davidcsi commented on #1660
anyone?

[2022-11-09 01:31] doug-ba commented on #1438
Along the same lines as the previous question about "traditional" Consul, only for Service discovery.

We currently use local client agents which our workloads use to register themselves and their health checks via logic built in to the application.

Is this change going to break client agents in general, or just change the default values in the helm chart so we'll have to enable the agents?
Will

[2022-11-09 18:26] ishustava commented on #1438
We are just changing the default in this release so you will need to explicitly enable clients for your use case. In the future we may also remove client agents entirely though.

Catalog sync is part of the service mesh automation on kubernetes. It only helps you sync kubernetes services into consul and vice versa so that you don't need to register them twice in both systems. It doesn't help you i

[2022-11-09 20:17] davidcsi commented on #1660
I've been looking at PersistentVolumes and Claims, I don't know why consul's helm is not creating them:

[code]

[2022-11-10 00:18] Tzvonimir commented on #1660
I think your EKS cluster is missing EBS addon.

You can click on the EKS cluster in your AWS management console and check the addons tab: `aws-ebs-csi-driver` should be available there.

If you are using terraform you can add it with the following resource:

[code]

[2022-11-10 01:37] kschoche commented on #1660
Ah, I think @Tzvonimir is on to something:
There was a breaking change in EKS regarding the EBS CSI driver, you can see it mentioned here under the Kubernetes-1.23 section of https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html

[2022-11-10 11:46] davidcsi commented on #1660
Hello and thanks for your help @kschoche and @Tzvonimir for your help.
I was indeed missing that, and I first added it manually via the console, then via terraform with
[code]
My issue is not only with 1.23, i tried all the way down to 1.20 and i'n seeing the same problem.

Neither worked, i' m still seeing nothing in `kubectl get -A pv`

Any other ideas?

David

[2022-11-10 11:54] davidcsi commented on #1660
BTW: I'm using this:

https://github.com/Viking-VoIP/full-voip-on-k8s

the terraform path contains everything. Hope you can help me find where the problem is!

[2022-11-10 12:08] Tzvonimir commented on #1660
@davidcsi I think there might be some permission issue with your IAM role attached to your EKS cluster.

Can you try this command:

`kubectl get pvc`

That should provide you with the list of available PVC-s, and then if you have consul installed there should be a couple of pending PVC-s.

Try to describe one of them, with something like this and post the output of the log:

`kubectl describe pvc/

[2022-11-10 17:18] davidcsi commented on #1660
[code]
then
[code]
i do have in my values:
[code]

[2022-11-10 22:51] Tzvonimir commented on #1660
I am not really sure what is going on, but maybe there is some issue with your storage class, can you check what the output of this command is:

`kubectl get storageclass`

[2022-11-10 23:06] jmurret commented on #1660
I agree with @Tzvonimir here to check this next.  If you follow the [Consul helm chart documentation](https://developer.hashicorp.com/consul/docs/k8s/helm#v-server-storageclass) and also this [EKS article on storage classes](https://docs.aws.amazon.com/eks/latest/userguide/storage-classes.html), its possible that your cluster does not have gp2 (or even a default) storage class configured

[2022-11-11 07:16] LattyChen opened #1701 "Connect injector deployment can't be started after k8s cluster upgraded to 1.22.13"
#### Question
My k8s based consul only enabled client, sync-catalog and connect injector components. After upgrading the k8s cluster version to 1.22.13, the connect injector can't start up
image: "consul:1.9.0"
imageK8S: "consul-k8s:0.21.0"
Error log:
[code]
values.yaml used to deploy the consul:
[values.yaml.txt](https://github.com/hashicorp/consul-k8s/files/9987769/values.yaml.txt)

[2022-11-11 10:11] davidcsi commented on #1660
[code]

[2022-11-11 10:12] davidcsi commented on #1660
@jmurret and @Tzvonimir i really appreciate your help!

[2022-11-12 01:16] davidcsi commented on #1660
I think i found the problem:
[code]

[2022-11-12 01:17] davidcsi commented on #1660
is this the right doc to follow?
https://aws.amazon.com/premiumsupport/knowledge-center/eks-persistent-storage/
Many thanks!

[2022-11-12 04:49] david-yu commented on #1438
Thank you everyone for your feedback. Closing this issue, as we will be planning on releasing Consul K8s 1.0 next week which will include these breaking changes. Please try out the new release when its available and provide us more additional feedback if needed.

[2022-11-12 04:49] #1438 closed

[2022-11-12 22:08] davidcsi commented on #1660
sorry no, that was a different thing.
i keep getting
[code]
I added the csi driver, i tried adding the storageclass manually, nothing's helping...

[2022-11-13 19:35] davidcsi commented on #1660
i added the aws-ebs-csi-driver manually and when i do
[code]
i have in the values
[code]
and one comes up but stays on Pending because:
[code]
returns nothing and
[code]

it seems helm doesn’t create PVs so i create one like:
[code]
then the pod tries to start up, goes to containerCreation   then to Running  then error with
[code]
I’m not really sure…

[2022-11-14 16:46] jmurret commented on #1660
hi @davidcsi, have you tried running consul on kind/minikube/docker desktop kubernetes?  It seems like you are running into a lot EKS permissions issues that will be hard/take a while to help you troubleshoot as no one but you will have access to check permissions and settings.  Setting up a local kubernetes environment is very quick and it might help for you to see Consul running and have at leas

[2022-11-14 16:56] sMteX opened #1708 "Consul Client can't connect to external server on VM in the same network."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-11-14 17:42] jmurret commented on #1660
sounds good.  I think once you can verify that, another helpful resource is [this tutorial](https://developer.hashicorp.com/consul/tutorials/kubernetes/kubernetes-eks-aws) on for Consul on EKS.  It might be quicker to go through this and see if you hit issues on a particular step of the process.

[2022-11-14 22:12] doug-ba commented on #1516
+1 I ran into the same issue with any consul-server pod deletions/restarts in a 3 node deployment running helm release 0.49.0 and Consul v1.13.2.

The first time I ran into this was adding annotations to the consul-server statefulset pods via the helm chart.  The consul-server-2 pod would break leader elections as it tried to come up.  I was later able to replicate the failure by deleting any pod

[2022-11-15 21:14] danielrosa-zh commented on #1149
Hi @david-yu ,
We are trying to implement consul-agents in a k8s-A talk to consul-server in a K8s-B (Type Loadbalancer) but when we enable serflan to `9301` following your doc, the port `8301` stopped to be listening, so consul-agents is not able to communicate to consul-servers.  If we enable `exposeGossipAndRPCPorts: true` but keeping port `8301` we can have consul-agents communicate to consul-s

[2022-11-16 00:12] davidcsi commented on #1660
@jmurret Deploying on minikube went without a hitch... that makes me think something changed in AWS permissions-wise that's preventing consul from deploying... I wonder if it works at all with the new version. Is there like a step-by-step to deploy a new cluster+consul on AWS?

[2022-11-16 15:37] jmurret commented on #1660
that's great. I agree it feels like something changed on the aws side.  our consul EKS guide is [here](https://developer.hashicorp.com/consul/tutorials/kubernetes/kubernetes-eks-aws). It points to [the AWS EKS documentation](https://docs.aws.amazon.com/eks/latest/userguide/create-cluster.html) for creating a cluster.  I'd give those a try.

[2022-11-17 01:18] david-yu commented on #658
Closing as no feedback was given based on current releases of Consul K8s and Consul. Please open a new issue if more attention is needed.

[2022-11-17 01:18] #658 closed

[2022-11-17 01:21] david-yu commented on #1062
Uninstall now removes CRD which is the preferred design for uninstall: https://github.com/hashicorp/consul-k8s/pull/1623. So I'll mark this as closed. CRDs will need to re-applied upon re-install.

[2022-11-17 01:21] #1062 closed

[2022-11-17 01:33] david-yu commented on #1396
Closing as no response for a month. Please try the latest versions of Consul and Consul K8s to give us a better idea of how this issue is occurring.

[2022-11-17 01:33] #1396 closed

[2022-11-17 01:35] david-yu commented on #1496
Closing as no details were given.

[2022-11-17 01:35] #1496 closed

[2022-11-17 01:39] david-yu commented on #924
Closing as Consul K8s no longer utilizes clients for mesh.

[2022-11-17 01:39] #924 closed

[2022-11-17 03:56] david-yu commented on #645
Closing as clients now run as sidecars to Consul servers.

[2022-11-17 03:56] #645 closed

[2022-11-17 15:52] dnlopes commented on #1516
@doug-ba I agree that issue should not have been marked as resolved. When I found this issue I also posted on the official [Hashicorp forum](https://discuss.hashicorp.com/t/unstable-deployment-on-k8s-with-helm-chart/44411/5), but it didn't get much traction either.

In the end, me and my team decided to forget Consul on top of K8s for some reasons, one of them being that the helm chart doesn't see

[2022-11-17 21:27] #736 closed

[2022-11-18 16:46] mr-miles opened #1742 "External servers in 1.0.0 no longer honours discovery"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-11-18 17:51] david-yu commented on #1742
Hi @mr-miles we're working on updating our docs based on the large surface area of changes we made for 1.0. For 1.0, we no longer use go-discover and use another library called go-netaddrs for discovery.

You can read about the changes here, which are still being staged for publishing on our docs page: https://github.com/hashicorp/consul/blob/328d081bc9c339cc48f95c8d4d0cce1fd3b4b81a/website/conten

[2022-11-18 17:59] mr-miles commented on #1742
got it thanks .... i am too keen!  have been awaiting this release so thanks again

[2022-11-18 18:37] mr-miles commented on #1742
Sorry - I tried it and it nearly works but it looks like the discover binary isn't included in the container image (or I need to enable it somehow)

My connect-injector pod has this environment variable:
CONSUL_ADDRESSES : exec=discover -q addrs provider=aws tag_key=ConsulCluster tag_value=048c3bea3db2df8a

But I see this in the pod logs and they fail to reach readiness
[ERROR] consul-server-conne

[2022-11-18 19:03] mr-miles commented on #1742
@david-yu naively looks to me like

https://github.com/hashicorp/consul-k8s/blob/main/control-plane/Dockerfile

is missing

https://github.com/hashicorp/consul-dataplane/blob/main/Dockerfile#L42

[2022-11-18 20:23] david-yu commented on #1742
Thanks! We'll take a look!

[2022-11-18 20:24] FelipeEmerim opened #1746 "Transparent proxy dialed directly not working on v1.0.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request. Searching for pre-existing feature requests helps us consolidate datapoints for identical requirements into a single place, thank you!
* Please do not lea

[2022-11-18 21:17] david-yu commented on #1746
Hi @FelipeEmerim Thanks for the heads up! We'll need to investigate what's going on here but on the face of it this will need to be addressed in our Core code. Let met transfer the issue there an we'll follow up to see if we need to a patch release to address.

[2022-11-19 16:02] sMteX commented on #1708
The issue persists for me even with the new 1.0.0 release (the actual error message shows under TRACE log level), once again problem with certificates - certificate is valid for 127.0.0.1, not <server IP> (just the output format is different).

[2022-11-19 21:22] davidcsi commented on #1660
Hello, I finally figured the problem.

When consul is deploying, it (nor k8s by default) doesn't create a storage-class so it can't dynamically provision one.

One needs to create a storage-calls and just be a default.

On top of that, consul doesn't add EC2 wide-enough permissions to have access to volumes to dynamically provision them. So even if you have storage-class; the pods will have no wri

[2022-11-20 00:21] darkn3rd commented on #1594
Pinging to keep this alive again, so automation doesn't erase this issue.

[2022-11-21 08:33] sMteX commented on #1708
Ok, managed to solve it on my own in the meantime. In case anyone has stumbled upon the same issue - the problem was that when Kube was doing its handshake with the server, it couldn't validate what I assume is the *identity* of the **server**. The server cert was created with `consul tls cert create -server` and thus was valid only for **localhost**. When I regenerated the server certificate with

[2022-11-21 08:33] #1708 closed

[2022-11-21 16:05] curtbushko commented on #1742
Hi @mr-miles!  Thanks for finding this and helping us out!

I put up a [add go-discover PR](https://github.com/hashicorp/consul-k8s/pull/1749) and it should end up in the next `1.0.1` release in the next few days.

Please let me know if you want to test out beforehand and I will find a way to get you a new control-plane image.

[code]

[2022-11-21 17:03] t-eckert commented on #1594
@darkn3rd, thank you for your commitment to this issue. I can assure you that we don't have automation that will erase this issue and we are tracking it internally as we plan our roadmap for Consul on Kubernetes. When we plan to address this, you will certainly be kept appraised.

[2022-11-21 19:19] mr-miles commented on #1742
Thanks for the quick turnaround.  I've tested it out and discovery is now finding the server addresses as expected!  So victory.

HOWEVER, something is still amiss.  My connect-injector pod and terminating-gateway-init pod are both failing like this:

2022-11-21T19:09:40.769Z [INFO]  consul-server-connection-manager: trying to connect to a Consul server
2022-11-21T19:09:40.770Z [DEBUG] consul-serv

[2022-11-21 21:33] ndhanushkodi commented on #1742
This seems to be an issue `gRPC resolver failed to update connection address: error="bad resolver state"` from when the consul-server-connection-manager is looping through the addresses to attempt to dial, its not able to set the address to dial due to the "bad resolver state". Currently looking into it. Maybe some kind of input into the grpc resolver being used to dial the servers is malformed or

[2022-11-21 22:40] david-yu commented on #1742
@mr-miles Just to double check could you perhaps send over your server config? Also are your external servers also on 1.14.0?

[2022-11-21 22:52] mr-miles commented on #1742
Hi

Thanks!  The server config is below.  The external servers are all on 1.14.0 (I initially did upgrade the clients to 1.14 and had the servers on 1.13.3 and nothing worked; the upgrade sorted that out).

  "advertise_addr": "10.142.xxx",
  "bind_addr": "10.142.xxx",
  "bootstrap_expect": 5,
  "client_addr": "0.0.0.0",
  "datacenter": "dc1",
  "node_name": "i-063xxx",
  "retry_join": [
    "prov

[2022-11-21 22:52] ndhanushkodi commented on #1742
@mr-miles ah yes, you should only need one or the other (no requirement to have both). There are some features (like cluster peering using mesh gateways) that requires using the grpc TLS port. But if you are able to test it with using only the grpc port (non-tls) we'd be able to narrow down if this is a TLS issue (as opposed to connectivity issue).

In the meanwhile also looking into trace logs fo

[2022-11-21 23:08] ndhanushkodi commented on #1742
@mr-miles can you try setting global.logLevel=trace in your cluster and post the logs from the connect-injector pod again?

[2022-11-21 23:23] mr-miles commented on #1742
Well that was easier than expected ... so now I see things like this in the logs:

2022-11-21T23:21:31.687Z [TRACE] consul-server-connection-manager: clientConnWrapper.NewSubConn: addrs=["{\n  \"Addr\": \"10.142.xxx:8502\",\n  \"ServerName\": \"\",\n  \"Attributes\": null,\n  \"BalancerAttributes\": null,\n  \"Type\": 0,\n  \"Metadata\": null\n}"]
2022-11-21T23:21:31.696Z [TRACE] consul-server-con

[2022-11-21 23:36] ndhanushkodi commented on #1742
@mr-miles thank you! the way we set the ServerName is through the environment variable `CONSUL_TLS_SERVER_NAME` which should be added to the connect-injector pod, which is set through the `externalServers.tlsServerName` helm value. Do you have that set on this cluster?

[2022-11-21 23:41] mr-miles commented on #1742
ok - no i dont have it set.  somehow it worked previously without it - should it be set to server.<datacentre>.<domain>?

[2022-11-21 23:53] ndhanushkodi commented on #1742
It should be server.<DATACENTER>.<DOMAIN>. I'd have to look into why it doesn't work with IP SANs, I'm not sure the details of how the grpc tls cert is generated. But I see that when setting up clusters with external servers, we definitely are using that value. It may not have been required before because the 1.0.0 release had a large refactor with removing the need to use client agents so its pos

[2022-11-22 00:04] mr-miles commented on #1742
Yay!  Setting it to that has made everything green again - thanks for your help!

I did have a quick look around and tls server name is set to server.DATACENTER.DOMAIN by default but only if cloud.enabled is true, so maybe that should be a bit more permissive if that setting is needed to make it work.
https://github.com/hashicorp/consul-k8s/blob/main/charts/consul/templates/_helpers.tpl#L333

Anyh

[2022-11-22 08:14] ndhanushkodi commented on #1742
Sounds good, I'll get some additional opinions on whether it makes sense to have a default tls server name with external servers. It's possible that wouldn't be desirable to set a default because its hard to know what configuration external servers might have. But for sure we will at least update the values.yml documentation on that value!

[2022-11-22 10:47] mr-miles commented on #1742
I had a look through the code as I agree with you that having a default name doesn't sit quite right.

Looking through the code, there is no way to configure things so it will accept any *valid* certificate - you either specify an explicit hostname, or set it to not verify anything.

An alternative fix could be, in consul-server-connection-manager, if no server name is specified but insecure tls i

[2022-11-24 07:03] darkn3rd commented on #1515
I am curious what are the k8s services that are finally rendered from the Beat CRD.  Unless someone at Hashicorp is familiar with this operator and CRD, it'll be harder for them to spot any issues.  I am curious specifically what's rendered between a service and the headless service.  For example, if they share the same ports, consul will fail.  Also, check out the logs from the various consul com

[2022-11-24 07:05] darkn3rd commented on #1606
I look forward to the roadmap and/or any docs on this, especially as this makes Consul a non-starter.  I hope it can be addressed soon, rather than supporting more advance features, when basic core features supported in K8S API (e.g. list of ports with service) is not supported.